
footer {
    background: #20518a;
}

.newsletter-input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.newsletter-send {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: #2c80ce;
    position: relative;
    left:-4px
}