
//about img container

.about-leftimg-container {
    // background-image: url(..assets/images/COLOURBOX10598748.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    height: 500px;
    position: relative;
}

.about-leftbox-container {
    background: #023f60;
    width: 50%;
    position: absolute;
    bottom: 0%;
    right: 50%;
    transform: translate(160%, -45%);
}

@media (max-width: 991px) {
    .about-leftimg-container {
        width: 100%;
    }
    .about-leftbox-container {
        position: relative;
        bottom:0;
        right: 0;
        transform: translate(0%, 0%);
    }
}


.about-rightimg-container {
    // background-image: url(/images/COLOURBOX51255183.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    height: 500px;
    position: relative;
    margin-left: 30%;
}

.about-rightbox-container {
    background: #023f60;
    width: 50%;
    position: absolute;
    bottom: 0%;
    right: 160%;
    transform: translate(160%, -45%);
}

@media (max-width: 991px) {
    .about-rightimg-container {
        width: 100%; 
        margin-left: 0%;
    }
    .about-rightbox-container {
        position: relative;
        bottom:0;
        left: 50%;
        transform: translate(0%, 0%);
    }
}
