<!--About infosection start-->
<div class="container py-5">
    <h2 class="fs-2 text-start mb-4 font-dark">Coaching Intiative</h2>
    <div class="row m-0">
      <div class="col-md-12 about-leftimg-container my-0 p-0 mb-5" style="background-image: url(../assets/images/COLOURBOX10598748.jpg);">
        <div class="about-leftbox-container rounded-1 py-5 px-4">
          <h5 class="card-title fs-4 mb-3 text-white">What?</h5>
          <p class="card-text fs-6 text-white font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
      </div>
      <div class="col-md-12 about-rightimg-container my-0 p-0 mb-5" style="background-image: url(../assets/images/COLOURBOX51255183.jpg);">
        <div class="about-rightbox-container rounded-1 py-5 px-4">
          <h5 class="card-title fs-4 mb-3 text-white">Why?</h5>
          <p class="card-text fs-6 text-white font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
      </div>
      <div class="col-md-12 about-leftimg-container my-0 p-0" style="background-image: url(../assets/images/COLOURBOX42140570.jpg);">
        <div class="about-leftbox-container rounded-1 py-5 px-4">
          <h5 class="card-title fs-4 mb-3 text-white">How?</h5>
          <p class="card-text fs-6 text-white font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
      </div>
    </div> 
  </div>