$font-small-family:'Spectral', serif;
$blue-darker: #20518a;
$blue-dark:#2c80ce;

.font-small {
    font-family: $font-small-family;
}

.font-darker {
    color: $blue-darker;
}
.font-dark {
    color: $blue-dark;
}

//contact
.submit-btn {
    background:#20518a;
}
