<!--contact start-->
<div class="mt-0rounded-3">
    <div class="container py-5">
      <form novalidate [formGroup]="contactForm" #cform="ngForm" (ngSubmit)="onSubmit()">
          <div class="row mb-2">
            <div class="col">
                <mat-form-field>
                    <input matInput formControlName="firstName" type="text" name="firstName" placeholder="First name" class="form-control" 
                    autocomplete="off" required >
                    <mat-error *ngIf="formErrors.firstName">{{formErrors.firstName}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <input matInput formControlName="lastName" type="text" name="lastName" placeholder="Last name" class="form-control" 
                    autocomplete="off" required>
                    <mat-error *ngIf="formErrors.lastName">{{formErrors.lastName}}</mat-error>
                </mat-form-field>      
            </div>
        </div>
          <div class="row mb-2">
              <div class="col">
                <mat-form-field>
                    <input matInput formControlName="email" type="email" name="email" placeholder="Email" class="form-control" 
                    autocomplete="off" required >
                    <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
                </mat-form-field>   
              </div>
              <div class="col">
                <mat-form-field>
                    <input matInput formControlName="phone" type="text" name="phone" placeholder="Phone" class="form-control" 
                    autocomplete="off" required pattern="[0-9]*" >
                    <mat-error *ngIf="formErrors.phone">{{formErrors.phone}}</mat-error>
                </mat-form-field>  
              </div>
          </div>
          <div class="row mb-2">
              <div class="col">
                <mat-form-field>
                    <input matInput formControlName="subject" type="text" name="subject" placeholder="Subject" class="form-control" 
                    autocomplete="off" required>
                    <mat-error *ngIf="formErrors.subject">{{formErrors.subject}}</mat-error>
                </mat-form-field>
              </div>
          </div>
          <div class="row mb-2">
              <div class="col">
                <mat-form-field>
                    <textarea matInput type="text" name="message" class="form-control" 
                      placeholder="Message" rows="8" required formControlName="message"></textarea>
                      <mat-error *ngIf="formErrors.message">{{formErrors.message}}</mat-error>
                </mat-form-field>  
              </div>
          </div>
          <button type="submit" class="btn submit-btn text-white btn-lg mt-4" [disabled]="!contactForm.valid">Submit</button>
      </form>
    </div>
</div>
<!--contact end-->

