<!--Search start-->
<div class="container py-5">
    <h2 class="fs-2 text-start mb-4 font-dark">Search</h2>
    <!-- <from>
      <div class="form-group row">
        <div class="col-md-3 mb-3">
          <input type="text" name="Name" class="form-control" placeholder="Name" aria-label="Name">
        </div>
        <div class="col-md-3 mb-3">
          <input type="text" name="Topic" class="form-control" placeholder="Topic" aria-label="Topic">
        </div>
        <div class="col-md-3 mb-3">
          <input type="date" name="date" class="form-control" placeholder="date" aria-label="date">
        </div>
        <div class="col-md-3 mb-3">
          <input type="text" name="Industy" class="form-control" placeholder="Industy" aria-label="Industy">
        </div>
      </div>
    </from> -->

    <div class="custom-card-container row m-0">
      <div class="col-md-3 card custom-card">
        <div class="card-avatar"></div>
        <div class="card-body card-avatar-body">
            <h5 class="card-title text-center text-white fs-4 mb-3 font-dark">Jason Smith</h5>
            <h6 class="text-center fs-6 mb-3 text-white font-dark">Professional Coach</h6>
            <p class="card-text text-center text-white font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="#" class="btn btn-link justify-content-center text-decoration-none font-dark d-block">Book Session</a>
        </div>
      </div>
      <div class="col-md-3 card custom-card">
        <div class="card-avatar"></div>
        <div class="card-body card-avatar-body">
            <h5 class="card-title text-center text-white fs-4 mb-3 font-dark">Jeffery Rockensen</h5>
            <h6 class="text-center fs-6 mb-3 text-white font-dark">Professional Coach</h6>
            <p class="card-text text-center text-white font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="#" class="btn btn-link justify-content-center text-decoration-none font-dark d-block">Book Session</a>
        </div>
      </div>
      <div class="col-md-3 card custom-card">
        <div class="card-avatar"></div>
        <div class="card-body card-avatar-body">
            <h5 class="card-title text-center text-white fs-4 mb-3 font-dark">Devanatha </h5>
            <h6 class="text-center fs-6 mb-3 text-white font-dark">Professional Coach</h6>
            <p class="card-text text-center text-white font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="#" class="btn btn-link justify-content-center text-decoration-none font-dark d-block">Book Session</a>
        </div>
      </div>
      <div class="col-md-3 card custom-card">
        <div class="card-avatar"></div>
        <div class="card-body card-avatar-body">
            <h5 class="card-title text-center text-white fs-4 mb-3 font-dark">Will Smith</h5>
            <h6 class="text-center fs-6 mb-3 text-white font-dark">Professional Coach</h6>
            <p class="card-text text-center text-white font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="#" class="btn btn-link justify-content-center text-decoration-none font-dark d-block">Book Session</a>
        </div>
      </div>
 
    </div>
  </div>