<!--Video start-->
<div class="container py-5">
    <h2 class="fs-2 text-end mb-4 font-dark">Unlock your true potential</h2>
    <div class="video-container position-relative">
      <img class="img-fluid" src="../assets/images/COLOURBOX45238238.jpg"/>
      <a class="video-btn-play" href="#"><span class="fa fa-play-circle"></span></a>
    </div>
    <h2 class="fs-2 text-start mt-4 font-darker">An oppertunity to upskill & grow</h2>
  </div>
  <!--Video end-->

  <!--Carosuel start-->
  <div class="py-5 custom-carosuel">
    <div class="container">
      <h2 class="fs-2 text-center text-white mb-4">Our trainings</h2>
      <p class="fs-6 text-white text-center font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
      
      <div id="cardcarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#cardcarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#cardcarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#cardcarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner mt-4">
          <div class="carousel-item active">
            <div class="row m-0">
              <div class="col-lg-4 col-md-12 col-12 p-4">
                <div class="card">
                  <img class="img-fluid" src="../assets/images/COLOURBOX47816721.jpg" class="card-img-top" alt="...">
                  <div class="card-body m-2">
                      <h5 class="card-title fs-4 mb-3 font-dark">Release your potentials</h5>
                      <p class="card-text fs-6 font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 col-12 p-4">
                <div class="card">
                  <img class="img-fluid" src="../assets/images/COLOURBOX51255183.jpg" class="card-img-top" alt="...">
                  <div class="card-body m-2">
                      <h5 class="card-title fs-4 mb-3 font-dark">Transforming life</h5>
                      <p class="card-text fs-6 font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 col-12 p-4">
                <div class="card">
                  <img class="img-fluid" src="../assets/images/COLOURBOX43119201.jpg" class="card-img-top" alt="...">
                  <div class="card-body m-2">
                      <h5 class="card-title fs-4 mb-3 font-dark">Career building</h5>
                      <p class="card-text fs-6 font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row m-0">
              <div class="col-lg-4 col-md-12 col-12 p-4">
                <div class="card">
                  <img class="img-fluid" src="../assets/images/COLOURBOX37245466.jpg" class="card-img-top" alt="...">
                  <div class="card-body m-2">
                      <h5 class="card-title fs-4 mb-3 font-dark">Release your potentials</h5>
                      <p class="card-text fs-6 font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 col-12 p-4">
                <div class="card">
                  <img class="img-fluid" src="../assets/images/COLOURBOX38664637.jpg" class="card-img-top" alt="...">
                  <div class="card-body m-2">
                      <h5 class="card-title fs-4 mb-3 font-dark">Transforming life</h5>
                      <p class="card-text fs-6 font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 col-12 p-4">
                <div class="card">
                  <img class="img-fluid" src="../assets/images/COLOURBOX41467655.jpg" class="card-img-top" alt="...">
                  <div class="card-body m-2">
                      <h5 class="card-title fs-4 mb-3 font-dark">Career building</h5>
                      <p class="card-text fs-6 font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row m-0">
              <div class="col-lg-4 col-md-12 col-12 p-4">
                <div class="card">
                  <img class="img-fluid" src="../assets/images/COLOURBOX45238238.jpg" class="card-img-top" alt="...">
                  <div class="card-body m-2">
                      <h5 class="card-title fs-4 mb-3 font-dark">Release your potentials</h5>
                      <p class="card-text fs-6 font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 col-12 p-4">
                <div class="card">
                  <img class="img-fluid" src="../assets/images/COLOURBOX44861738.jpg" class="card-img-top" alt="...">
                  <div class="card-body m-2">
                      <h5 class="card-title fs-4 mb-3 font-dark">Transforming life</h5>
                      <p class="card-text fs-6 font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 col-12 p-4">
                <div class="card">
                  <img class="img-fluid" src="../assets/images/COLOURBOX51152426.jpg" class="card-img-top" alt="...">
                  <div class="card-body m-2">
                      <h5 class="card-title fs-4 mb-3 font-dark">Career building</h5>
                      <p class="card-text fs-6 font-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
